{% extends '../../layout_base.html.twig' %}
{% block title %}Vehículos registrados{% endblock %}

{% block body %}
    <form class="row g-3" action="" method="post">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Apellidos</label>
            <input type="text" name="surname" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Email</label>
            <input type="text" name="email" class="form-control" id="validationDefault02">
        </div>
        <div class="col-md-4">
            <label for="validationDefaultUsername" class="form-label">Dni o Nif</label>
            <input type="text" name="dni_nif" class="form-control" maxlength="9" id="validationDefault02" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Dirección</label>
            <input name="address" class="form-control" id="modelList"  aria-describedby="inputGroupPrepend2">
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Teléfono 1</label>
            <input name="phone_number1" class="form-control" id="modelList" maxlength="9" aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Teléfono 2</label>
            <input name="phone_number2" class="form-control" id="modelList" maxlength="9" aria-describedby="inputGroupPrepend2" >
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Añadir</button>
        </div>
    </form>
{% endblock %}